@page
@model EmployeePortal.Pages.Registration.RegistrationModel
@{
    ViewData["Title"] = "Employee Registration";
}

<h2>Register New Employee</h2>

<div class="scrollable">
    
<form method="post">
    <div class="container row">
        <div class="input-box col-6">
        <label for="EmployeeId">Employee ID</label>
        <input type="number" id="EmployeeId" name="Employee.EmployeeId" class="form-control" value="@Model.Employee.EmployeeId" />
      </div>

    <div class="input-box col-6">
        <label for="FirstName">First Name</label>
        <input asp-for="Employee.FirstName" class="form-control" />
        <span asp-validation-for="Employee.FirstName" class="text-danger"></span>
    </div>

    <div class="input-box col-6">
        <label for="LastName">Last Name</label>
        <input asp-for="Employee.LastName" class="form-control" />
        <span asp-validation-for="Employee.LastName" class="text-danger"></span>
    </div>
    


    <div class="input-box col-6">
        <label for="Email">Email</label>
        <input asp-for="Employee.Email" class="form-control" />
        <span asp-validation-for="Employee.Email" class="text-danger"></span>
    </div>

    <div class="input-box col-6">
        <label for="Phone">Phone</label>
        <input id="Phone" asp-for="Employee.Phone" class="form-control" />
        <span asp-validation-for="Employee.Phone" class="text-danger"></span>
    </div>



    <div class="input-box col-3">
        <label for="Grade">Grade</label>
        <select asp-for="Employee.Grade" asp-items="Model.GradeOptions" class="form-control">
            <option value="">-- Select Grade --</option>
        </select>
        <span asp-validation-for="Employee.Grade" class="text-danger"></span>
    </div>

    <div class="input-box col-3">
        <label for="BU">Business Unit</label>
        <select asp-for="Employee.BU" asp-items="Model.BUOptions" class="form-control">
            <option value="">-- Select BU --</option>
        </select>
        <span asp-validation-for="Employee.BU" class="text-danger"></span>
    </div>


    <div class="input-box col-4">
        <label for="DateOfHire">Date of Hire</label>
        <input asp-for="Employee.DateOfHire" type="date" onload="getDate()" class="form-control date-field"/>
        <span asp-validation-for="Employee.DateOfHire" class="text-danger"></span>
    </div>

    <div class="input-box col-3">
    <label for="ProjectCode">Project Code</label>
    <select id="projectCode" asp-for="Employee.ProjectCode" asp-items="Model.ProjectCodeOptions" onchange="fetchProjectName()" aria-owns="projectName" aria-controls="projectName"  class="form-control">
        <option value="">-- Select Project Code --</option>
    </select>
    <span asp-validation-for="Employee.ProjectCode" class="text-danger"></span>
</div>

<div class="input-box col-4">
    <label for="projectName">Project Name</label>
<input type="text" id="projectName" name="Employee.ProjectName" class="form-control" readonly />
</div>

    <div class="input-box col-4">
        <label for="PODName">POD Name</label>
        <select asp-for="Employee.PODName" asp-items="Model.PODNameOptions" class="form-control">
            <option value="">-- Select POD Name --</option>
        </select>
        <span asp-validation-for="Employee.PODName" class="text-danger"></span>
    </div>

    <div class="input-box col-3">
        <label for="location">Location</label>
        <select id="location" asp-for="Employee.Location" class="form-control">
            <option value="onshore">onshore</option>
            <option value="offshore">offshore</option>
        </select>
    </div>

    <div class="input-box col-4">
       <label for="offshore-city" id="offshore-label" class="hidden">Select Offshore City:</label>
       <select id="offshore-city" asp-for="Employee.OffshoreCity" asp-items="Model.OffShoreCityOptions" class="hidden form-control">
           <option value="">-- Select City --</option>
       </select>
    </div>

    <div class="input-box col-6">
        <label for="StartDate">Start Date</label>
        <input asp-for="Employee.StartDate" type="date" onload="getDate()" class="form-control date-field" />
        <span asp-validation-for="Employee.StartDate" class="text-danger"></span>
    </div>
    
    <div class="input-box col-6">
        <label for="EndDate">End Date</label>
        <input asp-for="Employee.EndDate" type="date" onload="getDate()" class="form-control date-field"/>
        <span asp-validation-for="Employee.EndDate" class="text-danger"></span>
    </div>
    
      
    </div>

    <button type="submit" class="btn btn-primary">Register</button>
    <a asp-page="/Registration/EmployeeList" class="btn btn-secondary">Back to List</a>
</form>

</div>
